* {
  box-sizing:border-box;
}

body {
  margin: 0px;
}

.app {
  /* padding-top: 50px; */
  /* width: 100%; */
  /* gap: 5%; */
}

.container {
  /* margin-top: 5%; */
}

@media only screen and (max-width: 400px){
  .nav {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    z-index: 100;
    width: 100%;
    flex-direction: row;
    
  }

  .nav.hidden {
    position: sticky;
    top: 0;
    left: 0;
    /* width: 100%; */
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    z-index: 100;
    /* width: 100%; */
    flex-direction: column;
    
  }
  .nav ul {
    display:none;
  }
  
  .nav.active {
    display:none
  }

  .site-title {
    font-size: 1.8rem;
  }

  .menu-button {
    display: block;
    margin: 8px;
  }
  .external-links {
  }

  .external-links.hidden  {
    display: none;
    
  }
  .custom-links {
 
    display: none;
  }
  .custom-links.hidden {
    display:none;
  }
  .particles {
    
    position: relative;
    justify-content: center;
    display:flex;
    height:50%;
    width:100%;
    
  }
  .hello {
    position: absolute;
    color: whitesmoke;
    text-align: center;
    vertical-align: center;
    top:20%
    
  }
  .intro-text {
  
    /* position:relative; */
    width: 100%;
    background-color: #333;
  }
  
  .intro-text p {
    font-size: large;
    margin-left: 20%;
    margin-right: 20%;
  
  }
  
  .intro-text a{
    color: inherit;
    text-decoration: none;
   
  }

  
}


@media only screen and (min-width: 401px) {
  
  .menu-button {
    display:none;
  }
  .site-title {
    margin-bottom: 0px;
    font-size: 2rem;
  }
  .nav {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    /* padding: 0 1rem; */
    z-index: 100;
    
  }
  .external-links {
    size: 10px;
  }
  .custom-links {
    display:none;
  }
  .particles {
    position:relative;
    display:flex;
    width: 100%;
    height:100%;
  }
  .hello {
    position: absolute;
    color: whitesmoke;
    text-align: center;
    vertical-align: center;
    top:30%
    
  }
  .intro-text {
    /* justify-self: center; */
    /* align-items: center; */
    /* justify-content: center;
    justify-items: center;
    align-self: center; */
    width: 100%;
    background-color: #333;
  }
  
  .intro-text p {
    font-size: large;
    margin-left: 20%;
    margin-right: 20%;
  
  }
  
  .intro-text a{
    color: inherit;
    text-decoration: none;
    /* height: 100%; */
   
  }
}
.image {
  display: inline-block;
  position: absolute;
  max-width:100%;
  max-height:100%;
 
  text-align: right;
  padding-top: 5%;
  padding-left: 5%;
  
  padding-right: 5%;
  
}

.projects {
  top:10;
  left:0;
  height: 100%;
  position: fixed;
  width: 100%; 
  color: white;
  background-color:#3889b4;
  display: flex;
  justify-content: center;
}
.project-card {
  border: 1px solid #ccc;
  border-radius: 4px;
  
  /* padding: 20px; */
  /* margin-bottom: 20px; */
  background-color:#333;
  padding: 5%;
  width: 100%;
  margin: 20px;
  justify-content: center;
  justify-self: center;
  align-self: center;
  align-content: center;
  text-align: center;

}
/* .external-links.hidden {
  display: none;
} */





.project-description h1 {
  font-size: 18px;
  margin-bottom: 10px;
}

.project-buttons {
  margin-top: 20px;
}


.info {
  
  font-size:100%;
  padding-top: 0%;
  display: flex;
  padding-left: 10%;
  padding-right: 20%;
  position:absolute;
  text-align: left;
  
  
}



#tsparticles {
  position: absolute;
  width: 100%;
  height:100%;
}
.home {
  height: 100%;
  position:absolute;
  width: 100%; 
  text-align:center;
  color: white;
  background-color: #595959;
  display:flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;

}


.intro {
  display:flex;
  /* flex-direction: column; */
}



.contact-title {
  color: white;
  align-content: center;

}


.contact {
  
  text-align: center;
  height: 100%;
  position: absolute;
  width: 100%; 
  
  background-color: #4c768d;
}
.contact li {
  
  padding-top: 5%;
  padding-bottom: 0%;
  display: block;
  


  
}



.uiuc {
  color: #dc6f30
}

.nav ul {
  height:100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display:flex;
  gap: 1rem;
  
 
}
.nav li {
  padding-top: 7px;
  padding-bottom: 7px;
  height:100%;
}



.nav a {
  
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: stretch;
  padding: .25rem;
  
}

.nav li.active {
  background-color: #555;
  margin: 0;
}


.nav li:hover {
  background-color: #777;  
}

.sign-in {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 50vh; 
  margin: 0; 
}

.projects-text {
  color:#1DB954;
}

.project-card button {
  
  background-color: #1DB954;
  color: white; 
  border: none; 
  border-radius: 50px; 
  padding: 15px 32px; 
  text-align: center; 
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px auto; 
  display: block; 
  width: 200px; 
  
}

.project-card button:hover {
  background-color: #1fc459;
  cursor: pointer;
  
}



.icons {
  filter: invert(100%)
}



.diego-image {
  
  overflow:"hidden";
  width: 300px;
  height: 300px;
  /* border-radius: 30%; */
  padding: 3%;
  aspect-ratio: 3/2;
  flex:1;
  
}

.intro {
  padding-top: 5%;
  /* display: inline-block; */
}

.tech {
  /* top:100%; */
  
  position: relative;
  
  height: 30%;
  width: 100%;
  background-color: #333;
  color: white;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  text-align: center;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  z-index: 100;
}





