.trackStats {
    /* border-radius: 50px;  */
    /* padding: 15px 32px;  */
    padding-top: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #1DB954;
    font-family: Arial, sans-serif;
  }

  .track-info {
    padding: 0;
  }
  
  

  .trackStats h1 {
   /* color: #1DB954; */

  }
  .trackStats p {
    color: white;
 
  }
  
  .trackStats li {
    list-style-type: none;
  }
  .trackStats ul {
    list-style-type: none;
    display: inline
  }